{% extends "_layout.html" %}
{% block title %}Experiences{% endblock %}
{% block content %}

<!-- Page header -->
<div class="page-header d-print-none">
	<div class="container-xl">
		<div class="row g-2 align-items-center">
			<div class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle"> Pre-work game </div>
				<h2 class="page-title"> Gamified experiences </h2>
			</div>
		</div>
	</div>
</div>
<!-- Page body -->
<div class="page-body">
	<div class="container-xl">
		<div class="row g-3">
			<div class="col-md-6 col-lg-4">
				<div class="row row-cards">
					<div class="col-12">
						<div class="card">
							<div class="card-body p-4 py-5 text-center">
								<h3 class="mb-0">Amministrazione e HR</h3>
								<p class="text-muted">Mettiti alla prova con questo gioco. Potrai scoprire al meglio le mansioni che svolgerai qualora venissi selezionato.</p>
								<p class="mb-3">
									<span class="badge bg-red-lt">Mundys</span>
								</p>
								<div>
									<div class="avatar-list avatar-list-stacked">
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000m.jpg)"></span>
										<span class="avatar avatar-sm rounded">JL</span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/002m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/003m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000f.jpg)"></span>
									</div>
								</div>
								<div>
									<button class="btn btn-primary align-text-top mt-3">Inizia l'esperienza</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="row row-cards">
					<div class="col-12">
						<div class="card">
							<div class="card-body p-4 py-5 text-center">
								<h3 class="mb-0">Servizi IT e Security</h3>
								<p class="text-muted">Mettiti alla prova con questo gioco. Potrai scoprire al meglio le mansioni che svolgerai qualora venissi selezionato.</p>
								<p class="mb-3">
									<span class="badge bg-red-lt">Mundys</span>
								</p>
								<div>
									<div class="avatar-list avatar-list-stacked">
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000m.jpg)"></span>
										<span class="avatar avatar-sm rounded">JL</span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/002m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/003m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000f.jpg)"></span>
									</div>
								</div>
								<div>
									<button class="btn btn-primary align-text-top mt-3">Inizia l'esperienza</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="row row-cards">
					<div class="col-12">
						<div class="card">
							<div class="card-body p-4 py-5 text-center">
								<h3 class="mb-0">Risorse al casello</h3>
								<p class="text-muted">Mettiti alla prova con questo gioco. Potrai scoprire al meglio le mansioni che svolgerai qualora venissi selezionato.</p>
								<p class="mb-3">
									<span class="badge bg-yellow-lt">Telepass</span>
								</p>
								<div>
									<div class="avatar-list avatar-list-stacked">
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000m.jpg)"></span>
										<span class="avatar avatar-sm rounded">JL</span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/002m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/003m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000f.jpg)"></span>
									</div>
								</div>
								<div>
									<button class="btn btn-primary align-text-top mt-3">Inizia l'esperienza</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="row row-cards">
					<div class="col-12">
						<div class="card">
							<div class="card-body p-4 py-5 text-center">
								<h3 class="mb-0">Ufficio contabilità</h3>
								<p class="text-muted">Mettiti alla prova con questo gioco. Potrai scoprire al meglio le mansioni che svolgerai qualora venissi selezionato.</p>
								<p class="mb-3">
									<span class="badge bg-yellow-lt">Telepass</span>
								</p>
								<div>
									<div class="avatar-list avatar-list-stacked">
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000m.jpg)"></span>
										<span class="avatar avatar-sm rounded">JL</span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/002m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/003m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000f.jpg)"></span>
									</div>
								</div>
								<div>
									<button class="btn btn-primary align-text-top mt-3">Inizia l'esperienza</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="row row-cards">
					<div class="col-12">
						<div class="card">
							<div class="card-body p-4 py-5 text-center">
								<h3 class="mb-0">Addetto pulizie</h3>
								<p class="text-muted">Mettiti alla prova con questo gioco. Potrai scoprire al meglio le mansioni che svolgerai qualora venissi selezionato.</p>
								<p class="mb-3">
									<span class="badge bg-gray-lt">Multi-azienda</span>
								</p>
								<div>
									<div class="avatar-list avatar-list-stacked">
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000m.jpg)"></span>
										<span class="avatar avatar-sm rounded">JL</span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/002m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/003m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000f.jpg)"></span>
									</div>
								</div>
								<div>
									<button class="btn btn-primary align-text-top mt-3">Inizia l'esperienza</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="row row-cards">
					<div class="col-12">
						<div class="card">
							<div class="card-body p-4 py-5 text-center">
								<h3 class="mb-0">Personale aeroportuale</h3>
								<p class="text-muted">Mettiti alla prova con questo gioco. Potrai scoprire al meglio le mansioni che svolgerai qualora venissi selezionato.</p>
								<p class="mb-3">
									<span class="badge bg-blue-lt">Aeroporti di Roma</span>
								</p>
								<div>
									<div class="avatar-list avatar-list-stacked">
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000m.jpg)"></span>
										<span class="avatar avatar-sm rounded">JL</span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/002m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/003m.jpg)"></span>
										<span class="avatar avatar-sm rounded" style="background-image: url(static/avatars/000f.jpg)"></span>
									</div>
								</div>
								<div>
									<button class="btn btn-primary align-text-top mt-3">Inizia l'esperienza</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}