{% extends "_layout.html" %} {% block title %}Videocall{% endblock %} {% block
content %}

<!-- Page header -->
<script
  src="{{ url_for('static', filename='js/human.js')}}"
  type="module"
></script>
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">Recruitment</div>
        <h2 class="page-title">Videochiamata iniziale</h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <span class="d-none d-sm-inline">
            <a href="#" class="btn"> Richiedi assistenza </a>
          </span>
          <a href="#" class="btn btn-success disabled" id="btn-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-player-play-filled"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"
                stroke-width="0"
                fill="currentColor"
              ></path>
            </svg>
            Avvia</a
          >
          <a href="#" class="btn btn-danger" id="btn-stop" hidden="hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-player-stop-filled"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 4h-10a3 3 0 0 0 -3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3 -3v-10a3 3 0 0 0 -3 -3z"
                stroke-width="0"
                fill="currentColor"
              ></path>
            </svg>
            Stop
          </a>
          <a
            href="#"
            class="btn btn-primary d-sm-none btn-icon"
            data-bs-toggle="modal"
            data-bs-target="#modal-report"
            aria-label="Create new report"
          >
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Videochiamata in corso</h3>
            <div
              style="
                position: relative;
                width: 100%;
                height: 15rem;
                min-height: 350px;
                background-color: #7a99ff31;
                border-radius: 10px;
                background-image: url('https://assets-global.website-files.com/61dc0796f359b6eeecc06eab/63d3ee5f07482153e29565c9_6399f843a6d32994360e857f_olivia_1.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                background-position-x: left;
              "
            >
              <canvas
                id="canvas"
                style="
                  position: relative;
                  width: 10rem;
                  height: 10rem;
                  border-radius: 10px;
                  float: right;
                  margin: 10px;
                  border: 3px solid rgba(0, 0, 0, 0.4);
                  background-color: #d8d8d8da;
                  background-image: url('/static/img/person.png');
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-clip: content-box;
                  background-origin: content-box;
                  background-position: center 20px ;
                  z-index: 100;"
              ></canvas>
              <video id="video" playsinline style="display: none"></video>
              <pre
                id="status"
                style="
                  position: absolute;
                  top: 16px;
                  right: 20px;
                  background-color: grey;
                  padding: 8px;
                  box-shadow: 2px 2px black;
                  z-index: 101;
                  margin-bottom: 0;
                  font-size: x-small;
                "
              >Initializing...</pre>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row row-cards">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Step del colloquio</h3>
              <ul class="steps steps-vertical">
                <li class="step-item">
                  <div class="h4 m-0">Presentazione</div>
                  <div class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus culpa cum expedita ipsam laborum nam ratione
                    reprehenderit sed sint tenetur!
                  </div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">Conoscenza dell'azienda</div>
                  <div class="text-muted">Lorem ipsum dolor sit amet.</div>
                </li>
                <li class="step-item active">
                  <div class="h4 m-0">
                    Conoscenza della posizione lavorativa
                  </div>
                  <div class="text-muted">Lorem ipsum dolor sit amet.</div>
                </li>
                <li class="step-item">
                  <div class="h4 m-0">Varie ed eventuali</div>
                  <div class="text-muted">Lorem ipsum dolor sit amet.</div>
                </li>
                <!--                 <li>
                  <pre id="log" style="padding: 8px"></pre>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div id="chart-emotions" class="chart-lg"></div>
            </div>
          </div>

          <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
          <script>
            var options = {
              chart: {
                type: "bar",
                fontFamily: "inherit",
                height: 240,
                parentHeightOffset: 0,
                toolbar: {
                  show: false,
                },
                animations: {
                  enabled: false,
                },
                stacked: true,
              },
              plotOptions: {
                bar: {
                  barHeight: "50%",
                  horizontal: false,
                },
              },
              dataLabels: {
                enabled: false,
              },
              fill: {
                opacity: 1,
              },
              series: [],
              noData: {
                text: "Loading...",
              },
            };
            var chart = new ApexCharts(
              document.getElementById("chart-emotions"),
              options
            );
            window.chart = chart;
            chart.render();
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
